/*-- scss:defaults --*/

$primary: #637238 !default;

.sidebar-title {
    color: #27ae60;
}

.result {
    background-color: rgba(233,236,239,.65);
    color: #575f66;
    border-radius: .25rem;
    border: 1px solid #575f66;
}

